.wrapper {max-width: 1350px; min-width: 960px; padding-right: 20px;}
#header {padding: 21px 0 21px 30px;}
.logo {width: 16%; float: left;}
.search {width: 30%; margin: 0 auto;}
.userOptions {width: 16%; float: right;}
#main {overflow: hidden;}
#sideMenu {width: 142px; float: left;}
#mainBody {padding-left: 162px;}