.wrapper {max-width: 1350px; min-width: 750px; padding-right: 20px;}
#header {padding: 21px 0 21px 30px;height:60px;}
.logo {float: left;}
.search {width: 35%; margin: -5px auto 0;}
.userOptions {width: 16%; float: right;}
#main {overflow: hidden;}
#sideMenu {width: 142px; float: left;}
#mainBody {padding-left: 162px;}
.section {overflow: hidden; position: relative;}
.section {&.first {margin: 0 0 20px;}}