.logo {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px; margin-top: 7px;
	span {font-weight: 400;}
}

.userOptions a {
	font-size: 11px; color: $softGrey;
	display: block; position: relative;
	padding-right: 12px;

	&:hover {text-decoration: none;}
	.userName {
		display: block; font-size: 13px;
		color: $grey; font-weight: 600;
	}
	i.fa {
		font-size: 14px; position: absolute;
		right: 0; top: 10px;
	}
}

.search {
	input {width: 85%; margin: 0 6px;}

	.fa-search,
	.fa-plus {font-size: 15px; color: $softGrey;}
}

#sideMenu {
	ul {
		margin: 0;

		li {
			text-align: center;

			&.active {
				background: url(../img/activeArrow.png) no-repeat 125px 50%;
				
				a {background-color: $solidGrey; color: #fff;}
			}

			a {
				color: $coldGrey; text-transform: uppercase;
				font-size: 11px; font-weight: 700; background-color: #fff;
				display: block; width: 130px; padding: 18px 0;
				border-bottom: 1px solid #e5e5e5;
				
				&:hover {text-decoration: none;}
				i.fa {display: block; font-size: 18px; margin-bottom: 5px;}
			}

			&:first-child a {@include border-top-right-radius(5px);}
			&:last-child a {@include border-bottom-right-radius(5px); border-bottom: none;}
		}
	}
}
#tabs {
	position: relative;
}
.tabCtrls {
	position: absolute;
	top: 5px; left: 16px;
	a {
		color: #fff;
		font-size: 15px;
		margin-right: 11px;

		&:hover {text-decoration: none;}
	}
}
.etabs {
	background-color: $solidGrey;
	overflow: hidden;
	padding-left: 70px;
	@include border-top-left-radius(5px);
	@include border-top-right-radius(5px);

	li {
		float: left; margin-right: 10px;
		&:hover {
			.closeTab {a {opacity: 1;}}
			
		}
		&.active {
			.closeTab {
				color: $softGrey;
				background-color: #fff;
			}

			&:before {
				content: ""; float: left;
				display: block;
				width: 9px; height: 30px;
				background: url('../img/tabSideL.png') no-repeat 0 0;
			}
			&:after {
				content: ""; float: right;
				display: block;
				width: 9px; height: 30px;
				background: url('../img/tabSideR.png') no-repeat 0 0;
			}
		}

		.title {
			color: #fff;
			display: inline-block;
			padding: 6px; float: left;
			
			&.active {
				background-color: #fff;
				color: $grey; font-weight: 600;
			}
		}

		.closeTab {
			float: left; display: block; height: 30px; width: 0;
			background-color: $solidGrey; position: relative;

			a {
				display: block; width: 8px; height: 9px; position: absolute; top: 12px;
				background: url('../img/tabClose.png') no-repeat; opacity: 0; transition: opacity .2s linear;
			}
		}
	}
}
.tabViews {
	background-color: #fff;
	border-bottom: 1px solid $borderColor;
	overflow: hidden;

	.backBtn {
		padding: 6px 15px;
		font-size: 18px; float: left; color: $solidGrey;
		border-right: 1px solid $borderColor;
	}
	.views {
		padding-left: 15px;
		float: left;
		line-height: 34px;
		li {
			@include inline-block;

			a {
				font-size: 10px; font-weight: 700;
				text-transform: uppercase;
				color: $coldGrey; padding: 2px 9px;
				margin-right: 4px;

				&:hover {text-decoration: none;}
			}

			&.active {
				a {
					color: #fff;
					background-color: #3b76da;
					@include border-radius(5px);
				}
			}
		}
	}
}
.anchors {
	padding: 3px 15px 8px; background-color: #fff;
	@include border-bottom-left-radius(5px);
	@include border-bottom-right-radius(5px);

	li {
		border-bottom: 1px dotted $linkColor;
		@include inline-block; margin-right: 12px;
		
		a {
			font-size: 12px;
			&:hover {text-decoration: none;}
		}
	}
}
.content {
	margin-top: 20px;
	background-color: #fff;
	padding: 15px;

	@include border-radius(5px);
}
.content.noViews {
	margin-top: 0;
	@include border-top-left-radius(0px);
	@include border-top-right-radius(0px);
}
.center {text-align: center;}
.countries {
	overflow: hidden; padding-top: 10px;

	li {
		float: left;
		text-align: center;
		width: 20%; min-height: 150px;

		a {
			display: block; width: 120px; margin: 0 auto;
			img {margin-bottom: 12px;}
			span {font-weight: 700; color: $coldGrey;}

			&:hover {
				img {
					@include box-shadow(#8d8d8d 0 3px 15px);
				}
				span {color: $linkColor; text-decoration: underline;}
			}
		}

		img {display: block;}
	}
}