
<div class="tabViews" ng-init="view='overview'">
    <a ng-click="goUp();" class="backBtn"><i class="fa fa-chevron-circle-left"></i></a>
    <ul class="views">
        <li class="{{view=='overview'&&'active'||''}}">
            <a href="" ng-click="view='overview'">{{'overview' | translate}}</a>
        </li>
        <li class="{{view=='contacts'&&'active'||''}}">
            <a href="" ng-click="view='contacts'">{{'contacts' | translate}}</a>

        </li>
    </ul>
</div>
<div class="anchors" ng-init="subview='overview';" >
    <ul>
        <li><a ng-click="subview='overview'">Teams</a></li>

        <li ng-show="gridStandings.data && gridStandings.data.length>0 "><a ng-click="subview='standing'" >{{'standings' | translate}}</a></li>
        <li ng-show="gridStatsPlayers.data && gridStatsPlayers.data.length>0"><a ng-click="subview='stats'" >{{'player_stats' | translate}}</a></li>
        <li ng-show="gridStatsPlayersAllTime.data && gridStatsPlayersAllTime.data.length>0"><a ng-click="subview='alltimehigh';" >{{'all_time_high' | translate}}</a></li>
        <li ng-show="gridFreeAgents.data && gridFreeAgents.data.length>0"><a ng-click="subview='freeagents'" >{{'free_agents' | translate}}</a></li>
        <!--<li><a href="#">Next season free agents</a></li>-->
        <li ng-show="gridInjured.data && gridInjured.data.length>0" ><a ng-click="subview='injured'" >{{'injuries' | translate}}</a></li>
        <li  ng-show="gridChampions.data && gridChampions.data.length>0"><a ng-click="scrollTo('champions')">{{'champions' | translate}}</a></li>
        <li ng-show="gridAwards.data && gridAwards.data.length>0"><a ng-click="scrollTo('awards')" >{{'awards' | translate}}</a></li>

        <li ng-show="gridTransfers.data && gridTransfers.data.length>0"><a ng-click="subview='transfered'" >{{'transfers' | translate}}</a></li>
    </ul>
</div>

<div class="row" ng-if="view=='overview'">
<div class="col-xs-8">
<div class="section">
<div class="leagueName">
    <div class="seasonSwitch">
        {{'season' | translate}}
        <season></season>
    </div>
    <img ng-src="{{league.logo}}" class="leagueLogo" alt="">
    <div>
        <img src="img/blank.gif" class="flag flag-{{::league.country['iso3166_2'].toLowerCase()}}" alt="Sweden"> {{league.name}}
    </div>
</div>
<div class="dates row">
    <div class="col-xs-4">
        <table>
            <thead>
            <tr>
                <th colspan="2">{{'regular_season' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{'start' | translate}}</td>
                <td>08.09.14</td>
            </tr>
            <tr>
                <td>{{'end' | translate}}</td>
                <td>20.02.15</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-4">
        <table>
            <thead>
            <tr>
                <th colspan="2">{{'play_off_qualification' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{'start' | translate}}</td>
                <td>24.02.15</td>
            </tr>
            <tr>
                <td>{{'end' | translate}}</td>
                <td>02.03.15</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-4">
        <table>
            <thead>
            <tr>
                <th colspan="2">{{'play_down' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{'start' | translate}}</td>
                <td>24.02.15</td>
            </tr>
            <tr>
                <td>{{'end' | translate}}</td>
                <td>28.03.15</td>
            </tr>
            </tbody>
        </table>
    </div>
</div><!--.row-->

<div class="collapsed-rm" ng-if="subview=='overview'">
<div class="h2">{{'teams' | translate}} <a href=""><i class="fa fa-chevron-down"></i></a></div>
<div class="inner">
<ul class="teams">
<li ng-repeat="team in ::teams">
    <ul class="lastGames">
        <li>
            <span class="win" tooltip="Win, 3-1, Lulea"></span>
        </li>
        <li>
            <span class="loss" tooltip="Loss, 1-3, Lulea"></span>
        </li>
        <li>
            <span  class="draw" tooltip="Draw, 3-3, Lulea"></span>
        </li>
        <li>
            <span class="draw" tooltip="Draw, 3-3, Lulea"></span>
        </li>
        <li>
            <span  class="win" tooltip="Win, 2-0, Lulea"></span>
        </li>
    </ul>
    <a href="" ng-click="goTeam(team.team);">
        <div>
            <img ng-src="http://files.eliteprospects.com/layout/logos/{{::team.team.imageUrl}}" alt="">
        </div>
        <span>{{::team.team.name}}</span>
    </a>
</li>

</ul>
</div>
</div><!--.collapsed-->

<!--
    Standing table
-->
    <div class="collapsed-rm" ng-if="subview=='standing'">
        <div class="h2">
            {{'standings' | translate}}
            <a href=""><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="inner">
            <table>
                <!--
                 {name:'',field:'position'},
              {name:'Team',field:'team.name'},
              {name:'GP',field:'GP'},
              {name:'W',field:'W'},
              {name:'L',field:'L'},
              {name:'OTW',field:'OTW'},
              {name:'OTL',field:'OTL'},
              {name:'GF',field:'GF'},
              {name:'GA',field:'GA'},
              {name:'TP',field:'TP'}
                -->
                <thead>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th>GP</th>
                    <th>W</th>
                    <th>L</th>
                    <th>OTW</th>
                    <th>OTL</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>TP</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in ::gridStandings.data">
                    <td>{{::team.position}}</td>
                    <td>{{::team.team.name}}</td>
                    <td>{{::team.GP}}</td>
                    <td>{{::team.W}}</td>
                    <td>{{::team.L}}</td>
                    <td>{{::team.OTW}}</td>
                    <td>{{::team.OTL}}</td>
                    <td>{{::team.GF}}</td>
                    <td>{{::team.GA}}</td>
                    <td>{{::team.TP}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


<!--
    Stats table
-->
<div class="collapsed-rm" ng-if="subview=='stats'">
    <div class="h2">
        {{'players' | translate}}
        <a href=""><i class="fa fa-chevron-down"></i></a>
    </div>
    <div class="inner">
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>Team</th>
                <th>GP</th>
                <th>G</th>
                <th>A</th>
                <th>TP</th>
                <th>PPG</th>
                <th>PIM</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in ::gridStatsPlayers.data | limitTo:20">
                <td>{{::player.player.firstName + ' ' + player.player.lastName}}</td>
                <td>{{::player.team.name}}</td>
                <td>{{::player.GP}}</td>
                <td>{{::player.G}}</td>
                <td>{{::player.A}}</td>
                <td>{{::player.TP}}</td>
                <td>{{::player.PPG}}</td>
                <td>{{::player.PIM}}</td>

            </tr>
            </tbody>
        </table>

    </div>
    <div class="h2">
        {{'goalies' | translate}}
        <a href=""><i class="fa fa-chevron-down"></i></a>
    </div>
    <div class="inner">
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>Team</th>
                <th>GP</th>


            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in ::gridStatsGoalies.data| limitTo:20">
                <td>{{::player.player.firstName + ' ' + player.player.lastName}}</td>
                <td>{{::player.team.name}}</td>
                <td>{{::player.GP}}</td>


            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--
    All time
     $scope.gridStatsPlayersAllTime = {
      columnDefs : [
          {name : 'Firstname',field:'firstname'},
          {name : 'Lastname',field:'lastname'},
          {name : 'GP',field:'GP'},
          {name : 'G',field : 'G'},
          {name : 'A',field:'A'},
          {name : 'TP',field:'TP'},
          {name : 'PPG',field:'PPG'},
          {name : 'PIM',field:'PIM'}


      ],enableFiltering:true};
-->
<div class="collapsed-rm" ng-if="subview=='alltimehigh'">
    <div class="h2">
        {{'players' | translate}}
        <a href=""><i class="fa fa-chevron-down"></i></a>
    </div>
    <div class="inner">
        <table>
            <thead>
            <tr>
                <th>Player</th>

                <th>GP</th>
                <th>G</th>
                <th>A</th>
                <th>TP</th>
                <th>PPG</th>
                <th>PIM</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in ::gridStatsPlayersAllTime.data">
                <td>{{::player._id.firstname + ' ' + player._id.lastname}}</td>
                <td>{{::player.GP}}</td>
                <td>{{::player.G}}</td>
                <td>{{::player.A}}</td>
                <td>{{::player.TP}}</td>
                <td>{{::player.PPG}}</td>
                <td>{{::player.PIM}}</td>

            </tr>
            </tbody>
        </table>

    </div>
</div>

<!--
    Table Injured
-->
<div class="collapsed-rm" ng-if="subview=='injured'">
    <div class="h2">
        {{'injured' | translate}}
        <a href=""><i class="fa fa-chevron-down"></i></a>
    </div>
    <div class="inner">
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>Team</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in ::gridInjured.data">
                <td>{{::player.player.firstName + ' ' + player.player.lastName}}</td>
                <td>{{::player.team.name}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<!--
    Table Transfered
    $scope.gridTransfers = {columnDefs : [
      {name : 'From',field:'fromTeam.name'},
      {name : 'To',field:'toTeam.name'},
      {name : 'Date',field:'transferDate'}
    -->
<div class="collapsed-rm" ng-if="subview=='transfered'">
    <div class="h2">
        {{'transfered' | translate}}
        <a href=""><i class="fa fa-chevron-down"></i></a>
    </div>
    <div class="inner">
        <table>
            <thead>
            <tr>
                <th>From</th>
                <th></th>
                <th>To</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in ::gridTransfers.data">
                <td>{{::player.fromTeam.name}}</td>
                <td>==></td>
                <td>{{::player.toTeam.name}}</td>
                <td>{{::player.transferDate}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
</div>
<div class="col-xs-4">
<div class="section">
    <div class="h2">{{'scoring_leaders' | translate}}</div>
    <table>
        <thead>
        <tr>
            <th>&#35;</th>
            <th>{{'player' | translate}}</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>TP</th>
            <th>PPG</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="leader in leaders">
            <td>{{$index + 1}}</td>
            <td><a href="">{{leader._id.firstname}} {{leader._id.lastname}}</a></td>
            <td>{{leader.GP}}</td>
            <td>{{leader.G}}</td>
            <td>{{leader.A}}</td>
            <td>{{leader.TP}}</td>
            <td>{{leader.PPG}}</td>
        </tr>

        </tbody>
    </table>
</div>
<div class="section">
<div class="h2">{{'games' | translate}}</div>
<ul class="gameList">
<li class="gameItem">
    <a href="#">
        <table>
            <tbody>
            <tr>
                <td colspan="3" class="date">
                    <span>15.12.2013</span>, <span>{{'regular_season' | translate}}</span>
                </td>
            </tr>
            <tr class="score">
                <td>AIK</td>
                <td>1 &#58; 8</td>
                <td>Brynäs IF</td>
            </tr>
            </tbody>
        </table>
    </a>
    <ul class="nav nav-pills" role="tablist">
        <li><a href="#game1lp" role="tab" data-toggle="tab"><i class="fa fa-navicon"></i> Lineups</a></li>
        <li><a href="#game1gs" role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i> Gamesheet</a></li>
        <li><a href="#game1dl" role="tab" data-toggle="tab"><i class="fa fa-download"></i> Download</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="game1lp">
            <table class="gameTable">
                <tbody>
                <tr>
                    <th colspan="2">{{'forwards' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Jonathan Huberdeau</a></li>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                            <li><a href="#">Tomas Fleischmann</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Jonathan Huberdeau</a></li>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                            <li><a href="#">Tomas Fleischmann</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{'defence_men' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Brian Campbell</a></li>
                            <li><a href="#">Erik Gudbranson</a></li>
                            <li><a href="#">Dmitry Danilov</a></li>
                            <li><a href="#">Mike Weaver</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Tomas Fleischmann</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{'goalies' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Erik Gudbranson</a></li>
                            <li><a href="#">Mike Weaver</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Tomas Fleischmann</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="game1gs">
            <table class="gameTable">
                <tbody>
                <tr>
                    <th colspan="2">{{'1st_period' | translate}}</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ul>
                            <li><a href="#">Nick Bjugstad</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{'2nd_period' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Brian Campbell</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{'3rd_period' | translate}}</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ul>
                            <li><a href="#">Tomas Fleischmann</a></li>
                            <li><a href="#">Erik Gudbranson</a></li>
                            <li><a href="#">Mike Weaver</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="game1dl">{{'download_options_here' | translate}}</div>
    </div>
</li>

<li class="gameItem">
    <a href="#">
        <table>
            <tbody>
            <tr>
                <td colspan="3" class="date">
                    <span>14.12.2013</span>, <span>{{'regular_season' | translate}}</span>
                </td>
            </tr>
            <tr class="score">
                <td>Örebro HK</td>
                <td>3 &#58; 4</td>
                <td>Färjestad BK</td>
            </tr>
            </tbody>
        </table>
    </a>
    <ul class="nav nav-pills" role="tablist">
        <li><a href="#game2lp" role="tab" data-toggle="tab"><i class="fa fa-navicon"></i> {{'line_ups' | translate}}</a></li>
        <li><a href="#game2gs" role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i> {{'game_sheets' | translate}}</a></li>
        <li><a href="#game2dl" role="tab" data-toggle="tab"><i class="fa fa-download"></i> {{'download' | translate}}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="game2lp">
            <table class="gameTable">
                <tbody>
                <tr>
                    <th colspan="2">{{'forwards' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Jonathan Huberdeau</a></li>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                            <li><a href="#">Tomas Fleischmann</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Jonathan Huberdeau</a></li>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                            <li><a href="#">Tomas Fleischmann</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{'defence_men' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Brian Campbell</a></li>
                            <li><a href="#">Erik Gudbranson</a></li>
                            <li><a href="#">Dmitry Danilov</a></li>
                            <li><a href="#">Mike Weaver</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Tomas Fleischmann</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{'goalies' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Erik Gudbranson</a></li>
                            <li><a href="#">Mike Weaver</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Tomas Fleischmann</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="game2gs">
            <table class="gameTable">
                <tbody>
                <tr>
                    <th colspan="2">{{'1st_period' | translate}}</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ul>
                            <li><a href="#">Nick Bjugstad</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{'2nd_period' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Brian Campbell</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Nick Bjugstad</a></li>
                            <li><a href="#">Kris Versteeg</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{'3rd_period' | translate}}</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#">Erik Gudbranson</a></li>
                            <li><a href="#">Mike Weaver</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#">Tomas Fleischmann</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="game2dl">{{'download_options_here' | translate}}</div>
    </div>
</li>
</ul>
</div>
</div>
</div>



<!-- <a name="standings"></a>
<div class="row">
<h1>{{'standings' | translate}}</h1>
<div class="col-xs-12">
    <div class="section">
        <div ui-grid="gridStandings" class="grid" style="height:400px;">
        </div>
    </div>
</div>
</div> -->

<!--<a id="standings"></a>
<div class="row" ng-show="gridStandings.data && gridStandings.data.length>0 && view=='overview'">
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">Standings</div>
            <div ui-grid="gridStandings" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
</div>

<a id="stats"></a>
<div class="row" ng-show="gridStatsPlayers.data && gridStatsPlayers.data.length>0 && view=='overview'">
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">{{'players' | translate}}</div>
            <div ui-grid="gridStatsPlayers" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">{{'goalies' | translate}}</div>
            <div ui-grid="gridStatsGoalies" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
</div>

<!--<a id="statsalltime"></a>
<div class="row" ng-show="gridStatsPlayersAllTime.data && gridStatsPlayersAllTime.data.length>0 && view=='overview'">
<div class="row">
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">{{'all_time_stats' | translate}}</div>
            <div ui-grid="gridStatsPlayersAllTime" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
</div>
</div>
<a id="injured"></a>
<div class="row" ng-show="gridInjured.data && gridInjured.data.length>0 && view=='overview'">
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">{{'injured' | translate}}</div>
            <div ui-grid="gridInjured" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
</div>

<a id="transfers"></a>
<div class="row" ng-show="gridTransfers.data && gridTransfers.data.length>0 && view=='overview'">
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">{{'transfered' | translate}}</div>
            <div ui-grid="gridTransfers" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
</div>
<a id="awards"></a>
<div class="row" ng-show="gridAwards.data && gridAwards.data.length>0 && view=='overview'">
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">Awards</div>
            <div ui-grid="gridAwards" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
</div>
<a id="freeagents"></a>
<div class="row" ng-show="gridFreeAgents.data && gridFreeAgents.data.length>0 && view=='overview'">
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">Free Agents</div>
            <div ui-grid="gridFreeAgents" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
</div>
<a id="champions"></a>
<div class="row" ng-show="gridChampions.data && gridChampions.data.length>0 && view=='overview'">
    <div class="col-xs-12">
        <div class="section">
            <div class="h2">Champions</div>
            <div ui-grid="gridChampions" class="grid" style="height:400px;">
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="view=='contacts'">
    <div class="col-xs-12">
        <div class="section">
            <simplecontact teamid="1"></simplecontact>
        </div>
    </div>
</div>-->
</div>