<div class="section noViews">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                                    <h2 class="center">Select Team</h2>
                                    <ul class="countries">
                                        <li ng-repeat="team in teams" ng-click="goTeam(team.team);">
                                            <a href="">
                                                <img ng-src="http://files.eliteprospects.com/layout/logos/{{team.team.imageUrl}}" alt="">
                                                <span>{{team.team.name}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                                