<div id="playersCol" class="col">
    <div class="h6">{{'players' | translate}}</div>
    <ul class="list">
        <li class="item" ng-repeat="player in players">
            <a href="" ng-click="newTab('Player: '+ player._source.player.firstName +  ' ' + player._source.player.lastName,'dashboard.player',player._source.player);">
                <img src="img/blank.gif" class="flag flag-{{player._source.player.country['iso3166_2'].toLowerCase()}}" alt="{{player._source.player.country.name}}">
                <ul class="info">
                    <li class="name">{{player._source.player.firstName}} {{player._source.player.lastName}} (D)</li>
                    <li class="dob">{{player._source.player.dateOfBirth | date:'MM.dd.yyyy'}}</li>
                    <li class="from">
                        <span>{{player._source.season.name}} {{player._source.team.name}}</span>
                        <span>{{player._source.league.name}} &#47; {{player._source.team.country.name}}</span>
                    </li>
                </ul>
            </a>
        </li>
    </ul>
</div>