<div class="section first" id="quickSearch" ng-show="search.searchterm.length>0">
    <a href="" ng-click="search.searchterm=''" class="close">
        <i class="fa fa-times"></i>
    </a>
    <div class="quickSearch">
        <div class="results">
            <player-results></player-results>
            <staff-results></staff-results>
            <team-results></team-results>
            <league-results></league-results>
            <country-results></country-results>
        </div>
    </div>
</div>