<div class="section first" id="quickSearch" ng-show="search.searchterm.length>0">
          
             
<a href="#" class="close"><i class="fa fa-times"></i></a>
          <div class="quickSearch">
            <div class="results">
              <div class="col">
                <div class="h6">Players</div>
                <ul class="list">
                  <li class="item" ng-repeat="player in players">
                    <a href="">
                      <img src="img/blank.gif" class="flag flag-{{player._source.country['iso3166_2'].toLowerCase()}}" alt="{{player._source.country.name}}">
                      <ul class="info">
                        <li class="name">{{player._source.firstName}} {{player._source.lastName}} (D)</li>
                        <li class="dob">{{player._source.dateOfBirth | date:'MM.dd.yyyy'}}</li>
                        <li class="from">
                          <span>13&#47;14 {{player._source.latestPlayerStats.team.name}}</span>
                          <span>{{player._source.latestPlayerStats.league.name}} &#47; {{player._source.latestPlayerStats.league.country.abbreviation}}</span>
                        </li>
                      </ul>
                    </a>
                  </li>
                </ul>
              </div>
             <div class="col">
                <div class="h6">Staff</div>
                <ul class="list">
                  <li class="item" ng-repeat="staff in staffs">
                    <a href="#">
                      <img src="img/blank.gif" class="flag flag-{{staff._source.country['iso3166_2'].toLowerCase()}}" alt="Sweden">
                      <ul class="info">
                        <li class="name">{{staff._source.firstName}} {{staff._source.lastName}}</li>
                        <li class="dob">{{staff._source.dateOfBirth | date:'MM.dd.yyyy'}}</li>
                        <li><b>{{staff._source.latestStaffStats.staffRole}}</b></li>
                        <li class="from">
                          <span>13&#47;14 {{staff._source.latestStaffStats.team.name}}</span>
                          <span>{{staff._source.latestStaffStats.league.name}} &#47; {{staff._source.country['iso3166_3']}}</span>
                        </li>
                      </ul>
                    </a>
                  </li>
                  
                </ul>
              </div>
              <!--<div class="col">
                <div class="h6">Agents</div>
                <ul class="list">
                  <li class="item">
                    <a href="#">
                      <img src="img/blank.gif" class="flag flag-de" alt="Germany">
                      <ul class="info">
                        <li class="name">Uwe Krupp</li>
                        <li class="dob">14.02.1965</li>
                        <li><b>Scout</b></li>
                        <li class="from">
                          <span>Agency Name, Germany</span>
                        </li>
                      </ul>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#">
                      <img src="img/blank.gif" class="flag flag-se" alt="Sweden">
                      <ul class="info">
                        <li class="name">John Doe</li>
                        <li class="dob">12.23.1987</li>
                        <li><b>Agent</b></li>
                        <li class="from">
                          <span>Agency Name, Sweden</span>
                        </li>
                      </ul>
                    </a>
                  </li>
                </ul>
              </div>-->
              <div class="col">
                <div class="h6">Teams</div>
                <ul class="list">
                  <li class="item" ng-repeat="team in teams">
                    <a href="#">
                      <img src="img/blank.gif" class="flag flag-{{team._source.country['iso3166_2'].toLowerCase()}}" alt="Germany">
                      <ul class="info">
                        <li class="name">{{team._source.name}}</li>
                        <li class="from">
                          <span>{{team._source.latestTeamStats.league.name}} &#47; {{team._source.latestTeamStats.league.country['iso3166_3']}}</span>
                        </li>
                      </ul>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <div class="h6">Leagues</div>
                <ul class="list">
                  <li class="item" ng-repeat="league in leagues">
                    <a href="#">
                      <img src="img/blank.gif" class="flag flag-{{league._source.country['iso3166_2'].toLowerCase()}}" alt="Germany">
                      <ul class="info">
                        <li class="name">{{league._source.name}}, {{league._source.country.name}}</li>
                      </ul>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <div class="h6">Countries</div>
                <ul class="list">
                  <li class="item" ng-repeat="country in countries">
                    <a href="#">
                      <img src="img/blank.gif" class="flag flag-{{country._source['iso3166_2'].toLowerCase()}}" alt="Germany">
                      <ul class="info">
                        <li class="name">{{country._source.name}}</li>
                      </ul>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
           </div>