<div id="header">
                <div class="logo"></div>
                <div class="userOptions">
                    <a href="" ng-init="dropdown=false;" ng-click="dropdown=!dropdown" >
                        <span class="userName">{{user.username}}</span>
                        <span>{{user.functions[0].team}}</span> &#8212; <span>{{user.functions[0].func}}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div ng-show="dropdown">
                        <ul>
                            <li ng-repeat="language in languages">
                                <a href="" ng-click="changeLanguage(language);setDropdown(false);">{{language}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="League name, club, player, staff&#8230;" ng-model="search.searchterm">

                    <a href="#"><i class="fa fa-plus"></i></a>
                </div>
</div>