<div id="header">
                <div class="logo"><i class="fa fa-check-square-o"></i> Sport<span>Contract</span></div>
                <div class="userOptions">
                    <a href="#">
                        <span class="userName">{{user.username}}</span>
                        <span>{{user.functions[0].team}}</span> &#8212; <span>{{user.functions[0].func}}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                </div>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="League name, club, player, staff&#8230;">
                    <a href="#"><i class="fa fa-plus"></i></a>
                </div>
</div>