
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="header" class="clearfix">
                <div class="logo" ng-click="home();" style="cursor:pointer;"></div>
                <div class="userOptions">
                    
                    <script>
                        $(".btnMulti").on("click", function() {
                            $(this).children("a").toggleClass("open");
                            $(this).children(".dropdown").toggleClass("active");
                        });
                    </script>

                    <div class="btnMulti">
                        <a id="dropdownTrigger" href="" ng-init="dropdown=false;" ng-click="dropdown=!dropdown">
                            <span class="userName">{{user.username}}</span>
                            <div ng-if="user.functions.length">
                                <span>{{user.functions[0].team}}</span> &#8212; <span>{{user.functions[0].func}}</span>
                            </div>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div id="dropdownExpanded" class="dropdown" ng-show="dropdown">
                            <!-- <ul>
                                <li ng-repeat="language in languages">
                                    <a href="" ng-click="changeLanguage(language);setDropdown(false);">{{language}}</a>
                                </li>
                            </ul> -->
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i> {{'my_profile' | translate}}</a></li>
                                <li><a ui-sref="settings"><i class="fa fa-gear"></i> {{'settings' | translate}}</a></li>
                                <li><a ui-sref="admin.staff"><i class="fa fa-key"></i> {{'admin' | translate}}</a></li>
                                <li><a href="#"><i class="fa fa-sign-out"></i> {{'sign_out' | translate}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="search" ng-show="!hideSearch">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="League name, club, player, staff&#8230;" ng-model="search.searchterm">

                    <a id="fa-plus-link" href="" ng-click="search.advanced = !search.advanced"><i class="fa fa-plus"></i></a>
                </div>       
            </div>
        </div>
    </div>
</div>