<div id="sideMenu">
    <ul>
        <li>
            <a id="communicaionLink" ui-sref="communication">
                <i class="fa fa-comments-o"></i>
                <span>{{'communication' | translate}}</span>
            </a>
        </li>
        <li >
            <a id="organisationLink" href="#">
                <i class="fa fa-cubes"></i>
                <span>{{'organisation' | translate}}</span>
            </a>
        </li>
        <li>
            <a id="scoutingLink" href="#">
                <i class="fa fa-globe"></i>
                <span>{{'scouting' | translate}}</span>
            </a>
        </li>
        <li>
            <a id="calendarLink" href="#/calendar">
                <i class="fa fa-calendar"></i>
                <span>{{'calendar' | translate}}</span>
            </a>
        </li>
    </ul>
</div>