<div id="sideMenu">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-comments-o"></i>
                                <span>Communication</span>
                            </a>
                        </li>
                        <li >
                            <a href="#">
                                <i class="fa fa-cubes"></i>
                                <span>Organisation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                <span>Scouting</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/calendar">
                                <i class="fa fa-calendar"></i>
                                <span>Calendar</span>
                            </a>
                        </li>
                    </ul>
                </div>