<div id="sideMenu">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-comments-o"></i>
                                Communication
                            </a>
                        </li>
                        <li >
                            <a href="#">
                                <i class="fa fa-cubes"></i>
                                Organisation
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                Scouting
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                Calendar
                            </a>
                        </li>
                    </ul>
                </div>