	<div ui-view="header"></div>
	<div id="main">
  	<div ui-view="sidebar"></div>
    <div id="mainBody">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="row">
          	<advanced-search ng-show="search.advanced"></advanced-search>
          	<quicksearch search="search"></quicksearch>
            <div id="tabs" class="dashboardModule">
              <div class="tabCtrls">
                <a id="tabHome" ng-click="Tab.goHome();"><i class="fa fa-home"></i></a>
                <a id="tabNew" ng-click="Tab.newTab();"><i class="fa fa-plus"></i></a>
              </div>
              <ul class="etabs">
                <li class="tab {{Tab.active(tab)&&'active' || ''}}" ng-repeat="tab in Tab.getTabs()">
                  <a href="" ng-click="Tab.setActive(tab);" class="title">{{tab.name}}</a>
                  <span class="closeTab"><a ng-click="Tab.closeTab(tab);"></a></span>
                </li>
              </ul>
              <div class="panelContainer">
                  <div id="tab-one" class="tabContent" ui-view="tabcontent"></div>
              </div>
            </div> 
          </div>
        </div>
      </div>  
    </div>
</div>