<div class="section noViews">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
    <videogular  vg-theme="config.theme">
        <video preload='metadata'>
            <source src="img/video/big_buck_bunny.mp4" type="video/mp4">
            

            
        </video>
        <vg-controls style="height: 50px;bottom:0px;">
            <!-- First element from the left -->
            <vg-play-pause-button></vg-play-pause-button>

            <!-- Second element from the left -->
            <vg-scrubBar>
                <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
            </vg-scrubBar>

            <!-- Third element from the left -->
            <vg-timeDisplay>{{ currentTime }} / {{ totalTime }}</vg-timeDisplay>

            <!-- Fourth element from the left -->
            <vg-volume>
                <vg-mutebutton></vg-mutebutton>
                <vg-volumebar></vg-volumebar>
            </vg-volume>

            <!-- Fifth element from the left -->
            <vg-fullscreenButton></vg-fullscreenButton>
        </vg-controls>
        
    </videogular>

</div>
</div>
</div>
</div>
</div>