<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="header" class="clearfix">
                <div class="logo"></div>
                <div class="userOptions">
                    <a href="#">
                        <span class="userName">Peter Manager</span>
                        <span>Adler Mannheim</span> &#8212; <span>Sport Manager</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                </div>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="League name, club, player, staff&#8230;">
                    <a href="#"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="main">
<div id="sideMenu">
    <ul>
        <li class="active">
            <a href="#">
                <i class="fa fa-comments-o"></i>
                <span>Communication</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cubes"></i>
                <span>Organisation</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-globe"></i>
                <span>Scouting</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
            </a>
        </li>
    </ul>
</div>
<div id="mainBody">

<div class="container-fluid">

<div class="row">
<div class="col-md-12">
    <div class="viewBar wrapping">
        <div class="backBtn">
            <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <a href="#" class="viewBtn">Compose</a>
        <ul class="views">
            <li class="active">
                <a href="#">Inbox</a>
            </li>
            <li>
                <a href="#">Offered players</a>
            </li>
            <li>
                <a href="#">Player requests</a>
            </li>
            <li>
                <a href="#">Signing request</a>
            </li>
            <li>
                <a href="#">Player trading</a>
            </li>
            <li>
                <a href="#">Exhibition game planner</a>
            </li>
            <li>
                <a href="#">Team cloud</a>
            </li>
        </ul>
        <a href="#" class="close"><i class="fa fa-times"></i></a>
    </div>
</div>
<div class="col-xs-4">
    <div class="section">
        <div class="inboxPagi">
            <div class="counter">
                <b>1</b>&#8212;<b>50</b>
                <i>of</i> <b>233</b>
                <select>
                    <option>received</option>
                    <option>sent</option>
                    <option>deleted</option>
                </select>
            </div>
            <div class="btn-group">
                <button class="btn"><i class="fa fa-chevron-left"></i></button>
                <button class="btn"><i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="inboxList">
            <ul>
                <li class="inboxItem online new">
                    <a href="#">
                        <div class="user">
                            <img src="img/userpic3.jpg" class="photo">
                            <div class="details">
                                <span class="name"><span>John Doe</span> &#8212; <span>Adler Mannheim</span></span>
                                <span class="timestamp">04.02.12, 06:48 PM</span>
                                <p>Duis sed odio sit amet nibh vulputate cursus proin gravida nibh vel velit auctor aliquet&#8230;</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="inboxItem online">
                    <a href="#">
                        <div class="user">
                            <img src="img/userpic4.jpg" class="photo">
                            <div class="details">
                                <span class="name"><span>Thorsten Apel</span> &#8212; <span>SportContract Demo</span></span>
                                <span class="timestamp">04.01.12, 03:21 PM</span>
                                <p>Proin gravida nibh vel velit auctor aliquet Duis sed odio sit amet nibh vulputate cursus&#8230;</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="inboxItem">
                    <a href="#">
                        <div class="user">
                            <img src="img/userpic3.jpg" class="photo">
                            <div class="details">
                                <span class="name"><span>John Doe</span> &#8212; <span>Adler Mannheim</span></span>
                                <span class="timestamp">04.02.12, 06:48 PM</span>
                                <p>Duis sed odio sit amet nibh vulputate cursus proin gravida nibh vel velit auctor aliquet&#8230;</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="inboxItem online">
                    <a href="#">
                        <div class="user">
                            <img src="img/userpic4.jpg" class="photo">
                            <div class="details">
                                <span class="name"><span>Thorsten Apel</span> &#8212; <span>SportContract Demo</span></span>
                                <span class="timestamp">04.01.12, 03:21 PM</span>
                                <p>Proin gravida nibh vel velit auctor aliquet Duis sed odio sit amet nibh vulputate cursus&#8230;</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-8">
    <div class="section">
        <div>
            <div class="chatHead">
                <div class="contact">
                    <div class="name">Moritz Möller</div>
                    <div class="job"><span>Adler Mannheim</span> &#8212; <span>Assistant coach</span></div>
                </div>
                <div class="btnGroup">
                    <div class="btnMulti item">
                        <button class=""><i class="fa fa-comment-o"></i> Start conference</button>
                        <div class="dropdown">
                            <ul>
                                <li><a href="#"><i class="fa fa-video-camera"></i> Video</a></li>
                                <li><a href="#"><i class="fa fa-microphone"></i> Audio</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btnMulti item">
                        <button class=""><i class="fa fa-envelope-o"></i> Leave message</button>
                        <div class="dropdown">
                            <ul>
                                <li><a href="#"><i class="fa fa-video-camera"></i> Video</a></li>
                                <li><a href="#"><i class="fa fa-microphone"></i> Audio</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="item"><i class="fa fa-plus"></i> Invite user</button>
                </div>
            </div><!--.chatHead-->
            <div class="thread">
                <ul>
                    <li class="item">
                        <span class="timestamp">11:19 pm</span>
                        <div class="message">
                            <img src="img/userpic3.jpg" class="photo">
                            <div class="bubble">
                                <span class="pointer"></span>
                                Hello Peter! How are you today?
                            </div>
                        </div>
                    </li>
                    <li class="item own">
                        <span class="timestamp">11:20 pm</span>
                        <div class="message">
                            <img src="img/userpic4.jpg" class="photo">
                            <div class="bubble">
                                <span class="pointer"></span>
                                Hi Moritz! Thanks, I'm fine.
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <span class="timestamp">11:23 pm</span>
                        <div class="message">
                            <img src="img/userpic3.jpg" class="photo">
                            <div class="bubble">
                                <span class="pointer"></span>
                                Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare.
                            </div>
                        </div>
                    </li>
                    <li class="item own">
                        <span class="timestamp">11:31 pm</span>
                        <div class="message">
                            <img src="img/userpic4.jpg" class="photo">
                            <div class="bubble">
                                <span class="pointer"></span>
                                Sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Morbi accumsan ipsum velit vulputate cursus a sit amet.
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!--.thread-->
            <div class="composer">

                <a href="#" class="attach" data-trigger="focus" tabindex="0" data-toggle="popover" data-content="
                    <ul class='popList'>
                      <li>
                        <a href='#'><i class='fa fa-file-o'></i> File</a>
                      </li>
                      <li>
                        <a href='#'><i class='fa fa-map-marker'></i> Location</a>
                      </li>
                    </ul>"
                   data-placement="top">
                    <i class="fa fa-paperclip"></i>
                </a>

                <div class="inputs">
                    <input type="text">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div><!--.container-fluid-->
</div><!--.mainBody-->
</div><!--.main-->

