<div style="width:100%;height:250px;" ng-if="!staff">
    <div style="margin-left:auto;margin-right:auto;margin-top:110px;" class="spinner">

    </div>
</div>

<table class="staffTable large" ng-if="staff">
    <thead>
    <tr>
        <th style="width: 90px;"></th>
        <th style="width: 25%;">Name</th>
        <th>Phone</th>
        <th>Language</th>
        <th class="center">Send message</th>
    </tr>
    </thead>
    <tbody>
        <tr  ng-repeat="person in staff | orderBy:'sort':reverse" class="online" >
            <td>
                <img src="img/userpic1.jpg" class="photo" alt="">
            </td>
            <td>
                <span>{{person.staff.firstName}} {{person.staff.lastName}}</span>
                <div class="faded">{{person.staffRole}}</div>
                <span class="online"><i class="fa fa-circle"></i> Online</span>
            </td>
            <td>
                <ul>
                    <li>+4686008100</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>German</li>
                    <li>Swedish</li>
                </ul>
            </td>
            <td class="center">
                <a href="#"><i class="fa fa-envelope-o"></i></a>
            </td>
        </tr>

    </tbody>
</table>