
<div class="tabViews" ng-init="type='overview'">
    <a href="#" class="backBtn"><i class="fa fa-chevron-circle-left"></i></a>
    <ul class="views">
        <li class="{{type=='overview' && 'active' ||''}}">
            <a ng-click="type='overview'">Overview</a>
        </li>
        <li class="{{type=='contact' && 'active' ||''}}">
            <a ng-click="type='contact'">Contacts</a>
        </li>
    </ul>
</div>
<div class="anchors">
    <ul>
        <li><a href="#">Facts</a></li>
        <li><a href="#">Roster</a></li>
        <li><a href="#">Player stats</a></li>
        <li><a href="#">Team stats</a></li>
        <li><a href="#">Captains</a></li>
        <li><a href="#">Staff</a></li>
        <li><a href="#">Arena</a></li>
        <li><a href="#">Retired numbers</a></li>
        <li><a href="#">Season best</a></li>
        <li><a href="#">All time high</a></li>
        <li><a href="#">Where are they now?</a></li>
        <li><a href="#">Transfers</a></li>
        <li><a href="#">Editorial notes</a></li>
    </ul>
</div>

<div  ng-show="type=='overview'" class="row">
<div  class="col-xs-6">
    <div class="section">
        <div class="playerInfo">
            <div class="h1">{{player.player.firstName}} {{player.player.lastName}}
                <span class="muted">{{player.player.dateOfBirth}}</span>
            </div>
            <div class="mb">
                <div class="image">
                    <img src="http://files.eliteprospects.com/layout/players/{{player.player.imageUrl}}" alt="">
                </div>
                <div class="factsList">
                    <table>
                        <tbody>
                        <tr>
                            <th>Born:</th>
                            <td>{{player.player.dateOfBirth}}</td>
                        </tr>
                        <tr>
                            <th>Place of birth:</th>
                            <td><img src="img/blank.gif" class="flag flag-{{player.player.country['iso3166_3']}}" alt="Sweden"> {{player.player.country.name}}</td>
                        </tr>
                        <tr>
                            <th>Passport country:</th>
                            <td><img src="img/blank.gif" class="flag flag-{{player.player.country['iso3166_3']}}" alt="Sweden"> {{player.player.country.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <table class="large">
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Number</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>Shoots</th>
                        <th>BMI</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{player.playerPosition}}</td>
                        <td>
                            <div class="number">{{player.jerseyNumber}}</div>
                        </td>
                        <td>{{player.player.height | number:2}}m</td>
                        <td>{{player.player.weight}}kg</td>
                        <td>{{player.player.shoots}}</td>
                        <td>{{calculateBMI(player.player.height,player.player.weight)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6">
    <div class="contract section">
        <div class="h2">Current contract</div>
        <table>
            <thead>
            <tr>
                <th>Club</th>
                <th>Agency</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{player.team.name}}, {{player.league.name}}, {{player.team.country['iso3166_3']}}</td>
                <td>Player Consulting Ltd.</td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th>Contract until</th>
                <th>Salary</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span>30.06.2018</span> (4 years 4 months)</td>
                <td>$2m &#47; year</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <div class="playerActions">
            <button>Contact</button>
            <button>Signing request</button>
            <button>Add to scouting department</button>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="playlist section">
        <div class="h2">
            Playlists

        </div>
        <div class="sectionCtrl">
            <a href="#"><i class="fa fa-check-square-o"></i> <span>show more</span></a>
        </div>
        <div class="playLists">
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-play-circle"></i> Best actions</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Assist</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Puck control</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Best actions</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Assist</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Puck control</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Best actions</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Assist</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Puck control</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Best actions</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Assist</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Puck control</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Best actions</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Assist</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i> Puck control</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="section">
        <div class="h2">Scouting reports</div>
        <div class="scoutReports">
            <ul>
                <li>
                    <div class="user">
                        <img src="img/userpic1.jpg" class="photo">
                        <div class="details">
                            <span class="name">Teal Fowler</span>
                            <span class="itl">Manager sport</span>
                            <span>04.02.12, 06:48 PM</span>
                        </div>
                    </div>
                    <div class="report">
                        <p>Has been hands down the best all-around player in the AHL the past two seasons. Possibly the best pure passing set-up man in the AHL. A classic playmaking centre who reads and anticipates plays well in all three zones and is a highly intelligent and instinctive player. Holds onto the puck that extra split second to give linemates time to break to open ice, and can make delicate touch, saucer passes through traffic off both sides of the blade. Shows terrific imagination and creativity.</p>
                    </div>
                </li>
                <li>
                    <div class="user">
                        <img src="img/userpic2.jpg" class="photo">
                        <div class="details">
                            <span class="name">Cedrick Desjardins</span>
                            <span class="itl">Manager sport</span>
                            <span>04.02.12, 06:48 PM</span>
                        </div>
                    </div>
                    <div class="report">
                        <p>Has been hands down the best all-around player in the AHL the past two seasons. Possibly the best pure passing set-up man in the AHL. A classic playmaking centre who reads and anticipates plays well in all three zones and is a highly intelligent and instinctive player. Holds onto the puck that extra split second to give linemates time to break to open ice, and can make delicate touch, saucer passes through traffic off both sides of the blade. Shows terrific imagination and creativity.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="section">
        <div class="h2">Career statistics</div>
        <p>Profile career appearances statistics</p>
        <table>
            <thead>
            <tr>
                <th>Season</th>
                <th>Team</th>
                <th>League</th>
                <th>GP</th>
                <th>G</th>
                <th>A</th>
                <th>TP</th>
                <th>PIM</th>
                <th>+ &#47; -</th>
                <th>Postseas.</th>
                <th>GP</th>
                <th>G</th>
                <th>A</th>
                <th>TP</th>
                <th>PIM</th>
                <th>+ &#47; -</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in stats">
                <td>{{stat.season.name}}</td>
                <td>{{stat.team.fullName}}</td>
                <td>{{stat.league.name}}</td>
                <td>{{stat.GP}}</td>
                <td>{{stat.G}}</td>
                <td>{{stat.A}}</td>
                <td>{{stat.TP}}</td>
                <td>{{stat.PIM}}</td>
                <td>{{stat.PM}}</td>
                <td></td>
                <td>{{stat.GP}}</td>
                <td>{{stat.G}}</td>
                <td>{{stat.A}}</td>
                <td>{{stat.TP}}</td>
                <td>{{stat.PIM}}</td>
                <td>{{stat.PM}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div><!--.row-->

<div ng-hide="type=='overview'"class="row">
    <div class="col-xs-6">
        <div class="section">
            <div class="h2">Contact club staff</div>
            <div class="contactList">
                <ul>
                    <li>
                        <div class="user">
                            <img src="img/userpic1.jpg" class="photo">
                            <div class="details">
                                <span class="name">Cedrick Desjardins</span>
                                <span class="itl">Sport manager</span>
                            </div>
                        </div>
                        <button data-toggle="modal" data-target="#myModal">Contact</button>
                    </li>
                    <li>
                        <div class="user">
                            <img src="img/userpic2.jpg" class="photo">
                            <div class="details">
                                <span class="name">Frank Wilson</span>
                                <span class="itl">Head coach</span>
                            </div>
                        </div>
                        <button data-toggle="modal" data-target="#myModal">Contact</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="section">
            <div class="h2">Contact agency</div>
            <div class="details first">
                <span class="name">Player Consulting Ltd.</span>
                <span class="itl">Germany, Frankfurt am Main</span>
            </div>
            <div class="contactList">
                <ul>
                    <li>
                        <div class="user">
                            <img src="img/userpic2.jpg" class="photo">
                            <div class="details">
                                <span class="name">Jeff Taffe</span>
                                <span class="itl">France, Paris</span>
                            </div>
                        </div>
                        <button data-toggle="modal" data-target="#myModal">Contact</button>
                    </li>
                    <li>
                        <div class="user">
                            <img src="img/userpic1.jpg" class="photo">
                            <div class="details">
                                <span class="name">Mike Zigomanis</span>
                                <span class="itl">Grece, Athens</span>
                            </div>
                        </div>
                        <button data-toggle="modal" data-target="#myModal">Contact</button>
                    </li>
                    <li>
                        <div class="user">
                            <img src="img/userpic2.jpg" class="photo">
                            <div class="details">
                                <span class="name">Brett Sterling</span>
                                <span class="itl">USA, Washington</span>
                            </div>
                        </div>
                        <button data-toggle="modal" data-target="#myModal">Contact</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="section">
            <div class="h2">Clubs &amp; staff</div>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>Season</th>
                        <th>Team</th>
                        <th>League</th>
                        <th>Coach</th>
                        <th>Assistant coach</th>
                        <th>Manager</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2014-15</td>
                        <td>Ambri Piotta</td>
                        <td>NLA</td>
                        <td>Teal Fowler <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o"></i></a></td>
                        <td>Josh Henessy <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o"></i></a></td>
                        <td>Jason Jaffray <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o"></i></a></td>
                    </tr>
                    <tr>
                        <td>2013-14</td>
                        <td>Chicago Wolves</td>
                        <td>NCA III</td>
                        <td>Yan Danis <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o"></i></a></td>
                        <td>Corey Locke <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o"></i></a></td>
                        <td>Teal Fowler <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div ng-show="type=='overview'" class="row">
    <div class="col-xs-12">
    <a name="total"></a>
    <div class="row">
        <div class="col-xs-12">
            <div class="section">
                <div class="h2">Totals</div>
                <div ui-grid="gridCarreerTotal" class="grid" style="height:400px;">
                </div>
            </div>
        </div>

    </div>

    <a name="highlight"></a>
    <div class="row">
        <div class="col-xs-12">
            <div class="section">
                <div class="h2">Highlight</div>
                <div ui-grid="gridCarreerHighlights" class="grid" style="height:400px;">
                </div>
            </div>
        </div>

    </div>
    <a name="transfers"></a>
    <div class="row">
        <div class="col-xs-12">
            <div class="section">
                <div class="h2">Transfers</div>
                <div ui-grid="gridCarreerTransfers" class="grid" style="height:400px;">
                </div>
            </div>
        </div>

    </div>
    </div>
</div>
