<div class="section noViews">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                                    <h2 class="center">Select League</h2>
                                    <ul class="countries">
                                        <li ng-repeat="league in leagues" ng-click="goLeague(league);">
                                            <a href="">
                                                <img ng-src="{{league.imageUrl}}" alt="">
                                                <span>{{league.name}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                                