
<div class="tabViews noAnchor">
    <a href="#" class="backBtn"><i class="fa fa-chevron-circle-left"></i></a>
    <ul class="views">
        <li class="active">
            <a href="">{{'overview' | translate}}</a>
        </li>
    </ul>
</div>


<div class="row">
<div class="col-xs-9">
<div class="section col-xs-12" ng-repeat="association in ::associations" ng-init="view='overview'">
<div class="h1 pull-left">{{association.shortName}} &#8212; {{association.name}} </div>
    <div class="views pull-right">
        <ul>
            <li class="{{view=='overview'&&'active'||''}}">
                <a href="" ng-click="view='overview'">{{'overview' | translate}}</a>
            </li>
            <li class="{{view=='contacts'&&'active'||''}}">
                <a href="" ng-click="view='contacts'">{{'contacts' | translate}}</a>
            </li>
        </ul>
    </div>
    <div style="clear:both;"></div>
    <table class="staffTable large" ng-if="view=='contacts'">
        <thead>
        <tr>
            <th style="width: 90px;"></th>
            <th style="width: 25%;">{{'name' | translate}}</th>
            <th>{{'phone' | translate}}</th>
            <th>{{'language' | translate}}</th>
            <th class="center">{{'send_message' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr  class="online ng-scope">
            <td>
                <img src="img/userpic1.jpg" class="photo" alt="">
            </td>
            <td>
                <span class="ng-binding">Michael Pfuhl</span>
                <div class="faded ng-binding">General Manager</div>
                <span class="online"><i class="fa fa-circle"></i> Online</span>
            </td>
            <td>
                <ul>
                    <li>+4686008100</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>German</li>
                    <li>Swedish</li>
                </ul>
            </td>
            <td class="center">
                <a href="#"><i class="fa fa-envelope-o"></i></a>
            </td>
        </tr><tr  class="online ng-scope">
            <td>
                <img src="img/userpic1.jpg" class="photo" alt="">
            </td>
            <td>
                <span class="ng-binding">Jet Setter</span>
                <div class="faded ng-binding">General Manager</div>
                <span class="online"><i class="fa fa-circle"></i> Online</span>
            </td>
            <td>
                <ul>
                    <li>+4686008100</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>German</li>
                    <li>Swedish</li>
                </ul>
            </td>
            <td class="center">
                <a href="#"><i class="fa fa-envelope-o"></i></a>
            </td>
        </tr><tr  class="online ng-scope">
            <td>
                <img src="img/userpic1.jpg" class="photo" alt="">
            </td>
            <td>
                <span class="ng-binding">Jim Setters</span>
                <div class="faded ng-binding">Head Coach</div>
                <span class="online"><i class="fa fa-circle"></i> Online</span>
            </td>
            <td>
                <ul>
                    <li>+4686008100</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>German</li>
                    <li>Swedish</li>
                </ul>
            </td>
            <td class="center">
                <a href="#"><i class="fa fa-envelope-o"></i></a>
            </td>
        </tr>

        </tbody>
    </table>
<div ng-if="association.teams"
        > <!--National teams -->
<div class="h2">
    {{'national_teams' | translate}}

</div>

<!-- Start of the overview which contains national teams -->
<ul class="list-inline mb" ng-if="view=='overview'">
    <li ng-repeat="team in ::association.teams"><a ng-click="goTeam(team.team);" href="">{{team.team.name}}</a></li>
</ul>
<!-- End of the overview part -->
    <div class="mb" ng-if="view=='contacts'" ng-repeat="team in ::association.teams">
        <div class="h3">{{::team.team.name}}</div>
        <simplecontact teamid="team.team.id"></simplecontact>
    </div>


</div>
<div ng-if="association.leagues && view=='overview'" >
<div class="h2">
    {{'leagues' | translate}}
</div>
<div class="leagues">
    <ul>
        <li ng-repeat="league in ::association.leagues">
            <a ng-click="goLeague(league);">

                <img src="{{league.logo && league.logo || 'img/leagueLogo1.png'}}" alt="">
                                      <span>
                                            {{::league.name}}
                                        <span>{{'tagged_video' | translate}} &amp; {{'statistics' | translate}}</span>
                                      </span>
            </a>
        </li>
    </ul>
</div>
</div>




</div>
</div>
<div class="col-xs-3">
    <div class="section text-center">
        <div class="seasonSwitch mb">
            {{'season' | translate}}
            <season></season>
        </div>
        <div class="cntrFlag">
            <img ng-src="{{getFlag(country)}}"  alt="{{::country.name}}" style="width:120px;height:120px;">
            <span>{{::country.name.toLowerCase()}}</span>
        </div>
    </div>
</div>
</div><!--.row-->


