<div class="section noViews">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                                    <div class="h2 center">Select Country</div>
                                    <ul class="countries">
                                        <li ng-repeat="country in countries" >
                                            <a ng-click="goCountry(country);"  href="">
                                                <img ng-src="http://nodedevel.sportcontract.eu/{{country.flag}}" alt="International Competition">
                                                <span>{{country.name.toLowerCase() | translate}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                       
                                