<div class="section noViews">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                                    <div class="h2 center">Select Country</div>
                                    <ul class="countries">
                                        <li ng-repeat="country in countries | orderBy:'name'" >
                                            <a ng-click="goCountry(country);"  href="">
                                                <img ng-src="{{getFlag(country)}}"  alt="{{country.name}}" style="width:120px;height:120px;">
                                                <span style="text-tranform:capitalize;display:block;height:18px;overflow-y:hidden;">{{country.name.toLowerCase()  }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                       
                                