
                                    <h2 class="center">Select Country</h2>
                                    <ul class="countries">
                                        <li ng-repeat="country in countries">
                                            <a href="#">
                                                <img src="http://nodedevel.sportcontract.eu/{{country.flag}}" alt="International Competition">
                                                <span>{{country.name}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                