<div class="section noViews">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                                    <h2 class="center">Select Player</h2>
                                    <select ng-options="season.startYear as season.name for season in seasons" ng-model="season" ng-change="changeSeason();" >
                                      <option value="">Select a season</option>
                                    </select>
                                    <ul class="countries">
                                        <li ng-repeat="player in players" ng-click="goPlayer(player.player);">
                                            <a href="">
                                                <img ng-src="http://files.eliteprospects.com/layout/players/{{player.player.imageUrl}}" alt="">
                                                <span>{{player.player.firstName}} {{player.player.lastName}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                                